/* ****** Reset CSS  ****** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ****** Variables CSS  ****** */
:root {
    --honeydew-color: #f1faee;
    --lemon-menringue-color: #e6e3d4;
    --prussian-blue-color: #003049;
    --maximun-yellow-red-color: #fcbf49;
    --orange-color: #f77f00;
    --maximun-red: #d62828;
  
    --font-family: "Fjalla One", sans-serif;
  
    --max-content: 1200px;
}

/* ****** Body  ****** */
.body {
    background-color: var(--lemon-menringue-color);
    max-height: 100vh;
    font-family: var(--font-family);
    transition: all 2s ease;  
}

.body--dark {
    background-color: var(--prussian-blue-color);
    color: var(--honeydew-color);
    transition: all 2s ease;
}

/* ****** Container  ****** */
.container {
    width: inherit;
    height: 95vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.container__clock {
    width: 350px;
    height: 200px;

    background-color: var(--maximun-yellow-red-color);
    border-radius: 2.5%;
    box-shadow: 2px 2px var(--prussian-blue-color);
}
  
/* ****** Container Modifier  ****** */
.container__clock--dark {
    background-color: var(--orange-color);
    box-shadow: 2px 2px var(--lemon-menringue-color);
}

/* ****** Clock Block  ****** */
.clock {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.clock__title {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: var(--honeydew-color);
}
  
.clock__hour {
    color: var(--prussian-blue-color);
    font-size: 4.5rem;
}
  
.clock__date {
    color: var(--maximun-red);
}
  
/* ****** Clock Modifier  ****** */
.clock__title--dark {
    color: var(--prussian-blue-color);
}

.clock__date--dark {
    color: var(--prussian-blue-color);
}

.clock__hour--dark {
    color: var(--honeydew-color);
}

/* ****** Button Dark Mode ****** */
.button-dark-mode {
    width: 55px;
    height: 25px;
    margin: 0.5rem;
    border-radius: 20px;
    
    position: relative;
    border: none;
    outline: none;
    cursor: pointer;
  
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    background-color: var(--prussian-blue-color);
}
  
.button-dark-mode::after {
    content: "";

    width: 25px;
    height: 25px;
    display: block;
    position: absolute;
    border-radius: 25px;
    top: 0;
    left: 0;
    right: unset;

    background: var(--honeydew-color);
    box-shadow: 0px 0px 3px 3px rgb(0, 0, 0);
}

.button-dark-mode__img {
    width: 20px;
    height: 25px;
    line-height: 30px;
    
    display: block;
}
  
/* ****** Button Dark Mode Modifier ****** */
.button-dark-mode--dark {
    background-color: var(--honeydew-color);
}
  
.button-dark-mode--dark{
    background-color: var(--honeydew-color);
}
  
.button-dark-mode--dark::after{
    background-color: var(--prussian-blue-color);
    left: unset;
    right: 0;
}

/* ****** Footer ****** */
.footer__text {
    position: absolute;
    right: 1rem;
}

.footer__link {
    color: var(--orange-color);
    text-decoration: none;
}