/* ****** Reset CSS  ****** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ****** Variables CSS  ****** */
:root {
    --honeydew-color: #f1faee;
    --lemon-menringue-color: #e6e3d4;
    --prussian-blue-color: #003049;
    --maximun-yellow-red-color: #fcbf49;
    --orange-color: #f77f00;
    --maximun-red: #d62828;
  
    --font-family: "Fjalla One", sans-serif;
  
    --max-content: 1200px;
}

/* ****** Body  ****** */
.body {
    background-color: var(--lemon-menringue-color);
    max-height: 100vh;
    font-family: var(--font-family);
    transition: all 2s ease;  
}

.body--dark {
    background-color: var(--prussian-blue-color);
    color: var(--honeydew-color);
    transition: all 2s ease;
}